:root {
    --red: #f21332;
    --orange: #f27225;
    --pink: #e20b88;
    --yellow: #f2ad24;
    --green: #00b249;
    --blue: #1844b5;
    --purple: #a033b3;
}

li:nth-of-type(7n + 1) {
    color: var(--red);
}
  
li:nth-of-type(7n + 2) {
    color: var(--orange);
}
  
li:nth-of-type(7n + 3) {
    color: var(--pink);
}
  
li:nth-of-type(7n + 4) {
    color: var(--yellow);
}
  
li:nth-of-type(7n + 5) {
    color: var(--green);
}
  
li:nth-of-type(7n + 6) {
    color: var(--blue);
}
  
li:nth-of-type(7n + 7) {
    color: var(--purple);
}
