* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace
}

section, article, aside, footer, header, nav {
    display: block;
  }

body {
    color: white;
    background-color: black;
    background-image: url("img/background.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

body:after{
    content:"";
    position:fixed; /* stretch a fixed position to the whole screen */
    top:0;
    height:100vh; /* fix for mobile browser address bar appearing disappearing */
    left:0;
    right:0;
    z-index:-1; /* needed to keep in the background */
    background: url("img/background.jpeg") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.page {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 25px;
}

.logo-title {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logo {
    display: flex;
    max-height: 130px;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

header h1 {
    text-align: center;
}

.title {
    font-size: 3em;
}

ul {
    display: inline;
}

li {
    margin-left: 25px;
}

article {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border: 1px solid white;
    padding: 10px;
    text-align: left;
    background-color: rgb(0, 0, 0, 0.8);
}

.ziny-heading {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.ziny-heading, .title {
    color: black;
}

.ziny-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 300px;
    min-height: 212px;
}

a {
    color: rgb(255, 127, 80);
}

article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article p, a, h1, h2 {
    margin: 10px;
}

article a {
    display: block;
}

.cover {
    max-width: 300px;
    max-height: 212px;
    margin-bottom: 15px;
}

@media only screen and (min-width: 311px) {
    .ziny-content {
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 651px) {
    .about, .odkazy, article {
        width: 640px;
        margin-left: auto;
        margin-right: auto;
    }

    .logo-title {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .logo {
        margin-left: 10px;
        margin-right: 10px;
    }

    header h1 {
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 1201px) {



    .ziny-content {
        flex-direction: row;
        width: 1190px;
        margin-left: auto;
        margin-right: auto;
        align-items: baseline;
    }

    .ziny-content article {
        max-width: 575px;
    }

    article img {
        float: right;
        margin: 10px;
    }
}